.work__container {
    margin: 0px auto 20px auto;
    height:65%;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}



.work1 {
    grid-column: 1/3;

}
.work3 {
    grid-row: 2/4;
}
.work4 {
    grid-column: 2/4;
    grid-row: 2/4;

}