
.logo__img {
    margin-left: 130px;
    margin-top: 5px;
    max-width: 100px;
    width: 80px;
    border-bottom: #FF69B4 solid 5px;
    transition: all 3000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.logo__img:hover {
    transform: rotate(360deg);
}

@media screen and (max-width: 478px) {
    .logo__img {
        margin-left: 10px;
        max-height: 30px;
    }

}

@media screen and (max-width: 768px) {
    .logo__img {
        margin-left: 30px;
        max-height: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .logo__img {
        margin-left: 40px;
        max-height: 50px;
    }
}
