@import url(__links/header__links.css);
@import url(__link/header__link.css);
@import url(_button/header_button.css);
@import url(__link/_active/header__link_active.css);
@import url(logo/logo.css);


ul li {
    text-decoration: none;
    list-style-type: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 90px;
    background-color: #181b1e;
    margin: 0;

}


@media screen and (max-width: 478px) {
    .header{
        max-height: 60px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 1024px) {

}
