.popup__form {
  margin-top: 22px;
}


.popup__form_auth-link{
  cursor: pointer;
  color: #2f71e5;
}

.popup__form_reg-link{
  cursor: pointer;
  color: #2f71e5;
}
.popup__form_text__success{
  cursor: pointer;
  color: #2f71e5;
  font-family: Inter, Arial,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

}
