@import url(__example/work__example.css);
@import url(__container/work__container.css);
@import url(_scroll/work_scroll.css);
@import url(__title/work__title.css);


.work{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    height: 100vh;
    max-height: 1280px;
    min-height: 600px;
    border: #57ff35 solid 1px;

}
