@import url(__top/footer__top.css);
@import url(__copyright/footer__copyright.css);


.footer{
    background-color: #181b1e;
    max-height: 180px;
    display: flex;
    flex-direction: column;
    text-align: center;


}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 40px 0 40px;
}
