@import url(__top/footer__top.css);
@import url(__copyright/footer__copyright.css);


.footer{
    background-color: #181b1e;
     position: relative;


}

.footer__container{
    display: flex;
    max-height: 180px;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}
