@import url(__title/banner__title.css);
@import url(_scroll/banner_scroll.css);

.banner{
    position: relative;
    height: calc(100vh - 90px);
    max-height: 1280px;
    min-height: 600px;
    background-color: #222b30;
    margin: 0;
    background-image: url("../../image/black-diamond-4541795_1920.jpg");
    background-size: cover;
    background-color:rgba(0,0,0,.3);
}


.banner__content{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin: auto;
    width: 60%;
    overflow: hidden;
    height: 90%;
}


@media screen and (max-width: 700px){
    .banner__content{
        width: 90%;
    }

}
